# # Django Settings
# SECRET_KEY=django-insecure-ganti-ini-dengan-key-yang-sangat-rahasia
# DEBUG=True

# # Google OAuth Credentials
# # Ambil dari: https://console.cloud.google.com/
# GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=your-google-client-secret

# # Otorisasi Anggota Kelompok (pisahkan dengan koma)
# ALLOWED_MEMBER_EMAILS=anggota1@gmail.com,anggota2@gmail.com
